* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

footer,
header {
    border: 1px solid red;
}

footer >div,
header nav {
   display: flex;
    justify-content: space-between;
    align-items: center;
}

section.welcome img {
    display: block;
    width: 100%;
}

.container {
    border: 1px solid red;
    width: 100%;
    padding-inline: 16px;
}

@media only screen and (min-width: 768px) {
    .container {
        margin: auto;
        max-width: 689px;
    }
    .welcome .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .cards-section .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1110px;
    }
    .cards-section .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}